.container {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
}
h2 {
	text-transform: uppercase;
	font-weight: bolder;
	text-align: center;
	margin: 20px;
}

.interviews iframe {
	margin: 50px;
}
.articles {
	border: 1px solid black;
	width: 950px;
	height: 590px;
	margin: 10px;
}
.articles h3 {
	text-decoration: 2px underline overline #ab0f13;
	text-align: center;
	margin-top: 30px;
	font-size: 40px;
}
.articles h4 {
	text-align: center;
	margin: 5px;
}

.Article {
	width: 100%;
	background-image: url("../images/article.PNG");
	background-position: right;
	background-size: contain;
	background-repeat: no-repeat;
	display: flex;
	justify-content: space-between;
}
/*******************Article à modifier*************************/

.Article1 {
	background-image: url(../images/ImagesArticles/Delit1.jpg);
	background-size: 500px;
}
.Article2 {
	background-image: url(../images/ImagesArticles/Delit21.jpg);
	background-size: 500px;
	height: 600px;
	background-position: top right;
}

/*******************************************************************/
.Article span h5 {
	width: 40%;
	text-align: center;
	text-transform: uppercase;
	padding: 15px;
	background-color: #ab0f13;
	color: white;
	font-size: 25px;
	text-align: justify;
}

.Article span p {
	width: 40%;
	height: 200px;
	padding: 15px;
	margin: 15px;
	text-align: justify;
}
