.hero-body-own {
	background-color: #ab0f13;
	padding: 1.5em;
	margin-bottom: 10px;
}

.title-own-artical {
	text-align: center;
	text-decoration: overline underline #ab0f13;
	color: #ab0f13;
}

.hero-own {
	background-color: #fff !important;
}
