.COLORED {
	background-color: #ab0f13;
	color: #fff;
	transition: all 0.3s;
}

.COLORED:hover {
	background-color: #ffffff;
	color: #ab0f13;
}
.card-own {
	width: 250px;
	height: 400px;
	transition: all 0.5s;
	margin: 10px;
	border-radius: 10px;
}

.card-img-portrait {
	height: 500px;
}
.card-own:hover {
	border-radius: 50px;
}
.container-citizens {
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-wrap: wrap;
}

.card-img {
	width: 250px;
	height: 200px;
	background-repeat: no-repeat;
	background-position: center;
}
.box-citizen {
	width: auto;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
	background-color: #ab0f13;
}

/*************Perso********************/
.miller {
	background-image: url("../img/Miller.png");
	background-size: 300px;
	background-position: top;
}

.delmas {
	background-image: url("../img/Persos/Delmas.jpg");
	background-size: 250px;
}

.faver {
	background-image: url("../img/Persos/Faver.jpg");
	background-size: 350px;
	background-position: center;
}

.baranov {
	background-image: url("../img/Persos/Baranov.jpg");
	background-size: 250px;
	background-position: 0px -120px;
}

.tan {
	background-image: url("../img/Persos/narek.jpg");
	background-size: 250px;
	background-position: center;
	height: 300px;
}
.dk {
	background-image: url("../img/Persos/Kane.jpg");
	background-size: 280px;
	background-position: center;
	height: 300px;
}
.shannel {
	background-image: url("../img/Persos/laeti.jpg");
	background-size: 260px;
	background-position: center;
	height: 300px;
}
.jd {
	background-image: url("../img/Persos/JD.jpg");
	background-size: 250px;
	background-position: center;
	height: 300px;
}
/**********Responsive*******************/

@media all and (max-width: 770px) {
	.responsive-card {
		width: auto;
	}
}
