* {
	margin: 0;
	padding: 0;
}
body {
	font-family: sans-serif;
}
h2 {
	text-align: center;
	margin: 25px;
	text-transform: uppercase;
}
.WeazelNewsDescription {
	width: 100%;
	height: 500px;
	display: flex;
	align-items: center;
	justify-content: space-around;
	flex-wrap: wrap;
}

.WeazelNewsDescription img {
	height: 100%;
}

.WeazelNewsDescription p {
	width: 400px;
	line-height: 30px;
	margin: 50px;
}

.maps {
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
}

.maps-img {
	width: 70%;
	height: 700px;
	background-image: url(../images/maps.png);
	background-position: center;
	background-repeat: no-repeat;
	transition: all 1s;
	background-size: 1500px;
}
.organigrames-card {
	width: 300px;
	height: 250px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	border: 1px solid #ab0f13;
	background-color: #ab0f13;
}

.organigrames-img {
	background-image: url(../images/Miller.png);
	width: 100%;
	height: 250px;
	background-size: contain;
	background-repeat: no-repeat;
}

.organigrames-card h4 {
	text-align: center;
	text-transform: uppercase;
	font-weight: bolder;
	color: white;
	margin-top: 15px;
}

.organigrames-card p {
	color: white;
	margin-top: 5px;
	text-transform: underline;
}
footer {
	width: 100%;
	height: 300px;
	background-color: #ab0f13;
	margin-top: 50px;
}
