.title-box-own {
	text-align: center;
	color: #ffffff;
	text-transform: uppercase;
}

.box-own {
	margin-top: 10px;
	background-color: #ab0f13;
	color: #fff;
}

.title-own {
	text-align: center;
	color: #ab0f13;
	text-transform: uppercase;
}

.card-own {
	max-width: 300px;
}

.container-flex-center {
	display: flex;
	justify-content: center;
	align-items: center;
}
