body {
	padding: 0px;
	margin: 0px;
	background-color: #080731;
}

.header {
	position: relative;
}
.bg {
	background-image: url("../img/TaxiSite/TAXI-1920.jpg");
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	height: 80vh;
	padding: 0px;
	margin: 0px;
	position: relative;
}

.container-own {
	position: absolute;
	top: 0px;
	color: #fff;
	width: 100%;
}

.title {
	color: #fff;
}

.container-center {
	position: absolute;
	bottom: -30px;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
}
.button-header {
	width: 200px;
	text-align: center;
	background-color: rgba(255, 255, 255, 0.836);
	color: #080731;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 25px;
	border: solid white 1px;
}
.BouttonSwing::before {
	content: "";
	position: absolute;
	top: 60px;
	left: 0;
	width: 100%;
	height: 100%;
	background: #080731;
	border-radius: 50% 50% 0% 0%;
	z-index: -1;
	transition: all 0.5s;
	border: #fff;
}

.title-header p {
	color: #080731;
}

/*******nav bar ***********/
.navbar {
	background-color: rgba(255, 255, 255, 0.158);
}

.navbar-item-img {
	max-height: 4.5em !important;
}

.navbar-link-own {
	color: #000000;
	transition: all 0.3s;
	font-weight: 600;
}

.navbar-link-own:hover {
	color: #ffffff !important;
	background-color: #00000081 !important;
}

.navbar-burger-own {
	height: auto !important;
}

.navbar-burger-own span {
	height: 2px;
}

/**********Menu**************/
.is-primary-own {
	background-color: #080731 !important;
	color: #ffffff !important;
}
