<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="./css/history.css" type="text/css" />
		<link rel="stylesheet" href="./css/menu.css" type="text/css" />
		<link href="//fonts.googleapis.com/css?family=Roboto:200,400,600" rel="stylesheet" type="text/css" />
		<script src="https://kit.fontawesome.com/b8f4ab5226.js" crossorigin="anonymous"></script>
		<title>Home</title>
	</head>
	<body>
		<div class="menu">
			<span class="menu-container">
				<a href="index.html">WeazelNews</a>
				<a href="artical.html">Nos articles/ interviews</a>
				<a href="history.html">L'histoire du serveur</a>
				<a href="Citizen.html">La ville</a>
			</span>
		</div>

		<div class="history-tl-container">
			<ul class="tl">
				<li class="tl-item" ng-repeat="item in retailer_history">
					<div class="timestamp">
						25 Juin 2020<br />
						12 H 00
					</div>
					<div class="item-title">Sortie du rap de Carat - VIE D'GANGSTER</div>
					<div class="item-detail">
						Carat est un personnage dark RP. Elle fait partie du gang des ballas et lors de son histoire, ils ont eu le délire
						de sortir ce rap pou raconter leur histoire. Composé grâce à Blapix un autre joueur du serveur à l'instrumentale, ce
						duo fait parler d'eux en ville.
						<br />
						<a class="BouttonSwing" href="https://www.youtube.com/watch?v=WRVMnsu77kY">Ecouter la musique</a>
					</div>
				</li>
				<li class="tl-item" ng-repeat="item in retailer_history">
					<div class="timestamp"></div>
					<div class="item-title">A VENIR</div>
					<div class="item-detail"></div>
				</li>
				<li class="tl-item" ng-repeat="item in retailer_history">
					<div class="timestamp">Prochainement</div>
					<div class="item-title">Un mariage ?</div>
					<div class="item-detail"></div>
				</li>
			</ul>
		</div>
		<div class="share">
			<ol>
				<li>
					<a href="https://twitter.com/alscity_rp"><i class="fab fa-twitter fa-2x"></i></a>
				</li>
				<!--<li>
					<a href="#"><i class="fab fa-facebook fa-2x"></i></a>
				</li>-->
				<li>
					<a href="https://top-serveurs.net/gta/als-cityrp"><i class="fas fa-vote-yea fa-2x"></i></a>
				</li>
				<li>
					<a href="https://discord.com/invite/fQkfhQ2tN4"><i class="fab fa-discord fa-2x"></i></a>
				</li>
			</ol>
			<div class="toggle"></div>
		</div>
		<footer>
			<p>&copy; 13 / 04 / 2021</p>
		</footer>
		<script src="./js/index.js"></script>
	</body>
</html>
